{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended", "plugin:prettier/recommended"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint"],
  "ignorePatterns": ["node_modules/**", "dist/**", "NetscriptDefinitions.d.ts"],
  "rules": {
    "no-constant-condition": ["off"],
    "@typescript-eslint/no-floating-promises": "error"
  }
}
